src/ui/sdl/obj-w32
src/ui/sdl/obj-x86-gcc

# Xcode
*.xcodeproj/*
!*.xcodeproj/xcshareddata

!*.xcodeproj/project.pbxproj

.DS_Store
sdl/obj-w32/
aslplay/obj-w32/
aslplay/obj-w32-debug/
logplay/objs_w32/
sccisim/obj-w32/
